@font-face {
    font-family: "silpakorn";
    src:url("../font/SILPAKORN70yr.ttf") format('truetype');
}

code,
kbd,
pre,
.img-rounded,
.img-thumbnail,
.img-circle,
.form-control,
.btn,
.btn-link,
.dropdown-menu,
.list-group-item,
.input-group-addon,
.input-group-btn,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.pager *,
.label,
.badge,
.jumbotron,
.thumbnail,
.alert,
.progress,
.panel,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li {
    border-radius:0 !important;
}

body {
    background: #FFFFFF;
    font-family: "silpakorn", serif;
}

.card-header {
    background: #E0E0E0;
    text-align: center;
}

a {
    text-decoration: none !important;
    color: #FFFFFF;
}

a:hover, a:focus {
    color: #000000;
}

td > a {
    color: #000000;
}

.navbar {
    background: #00897B;
}

.navbar-brand:hover, .navbar-brand:focus {
    background: #FFFFFF;
}

.btn-success {
    border: #00897B;
    background: #00897B;
}

.btn-success:hover, .btn-success:focus {
    border: #00695C;
    background: #00695C;
}

.panel {
    border: #00897B solid;
}

.panel-heading {
    text-align: center;
    background: #00897B;
    color: #FFFFFF;
}

.panel-body {
    background: #EEEEEE;
}

.panel-footer {
    background: #E0E0E0;
    text-align: center;
}

input {
    font-size: larger;
}

.pagination > .active > span {
    background-color: #00897B;
    border-color: #00897B;
}

.pagination > li > a {
    color: #00897B;
}

.icon-bar {
    background-color: #FFFFFF;
}